extends layout

block content
    h1 HOME
    p
      | texttexttexttexttexttexttexttexttexttexttexttexttexttext
      | texttexttexttexttexttexttexttexttexttexttexttexttexttext
      | texttexttexttexttexttexttexttexttexttexttexttexttexttext
      | texttexttexttexttexttexttexttexttexttexttexttexttexttext
      | texttexttexttexttexttexttexttexttexttexttexttexttexttext
         
    
    