extends layout

block content
    h1 A침adir Tarea
    form(action='/tasks/crear', method='post')
      | Nom:
      br
      input(type='text', name='nom')
      br
      |   Etiquetes:
      br
      input(type='text', name='etiquetes')
      br
      |   Realitzaci칩 %:
      br
      input(type='number', name='realitzaci칩', min='0', max='100')
      br
      br
      input(type='submit', value='A침adir')