extends layout

block content
    h1 Tareas
    a(href='tasks/new') A침adir Tarea
    div.well
        each tarea, i in tareas
            h3 #{tarea.nom}
            p Etiquetes: #{tarea.etiquetes}
            p Realitzaci칩: #{tarea.realitzaci칩}%
            .progress
                .progress-bar.progress-bar-success(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width:'+tarea.realitzaci칩+'%')
    